[submodule "icallhimtest/submodule"]
	path = icallhimtest/submodule
	url = git@github.com:icaLlhimtest/submodule.git
[submodule "icaLLhimtest/submodule"]
	path = icaLLhimtest/submodule
	url = git@github.com:icaLLhimtest/SUBmodule.git
[submodule "OCASOCIAL"]
	path = OCASOCIAL
	url = git@github.com:OCA/social.git
